$containerWidth: 940px;
$baseFontSize: 16px;

$tablets: 768px;
$phones: 480px;

@import './media';
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import './layout/base';
@import './blocks/preview';
@import './blocks/header';
@import './blocks/features';
@import './blocks/button';
@import './blocks/section';
@import './blocks/headline';
@import './blocks/benefits';
@import './blocks/benefit';
@import './blocks/benefits-section';
@import './blocks/reviews';
@import './blocks/interactive-avatar';
@import './blocks/reviews-section';
@import './blocks/order-section';
@import './blocks/form';
@import './blocks/radio';
@import './blocks/fixed-menu';
@import './blocks/burger';
@import './blocks/contacts';
@import './blocks/sliders';
@import './blocks/overlay';
@import './blocks/team';
@import './blocks/team-section';
@import './blocks/slider-section';
@import './blocks/modal';
@import './blocks/colors';
//@import './blocks/player';
@import './blocks/video-section';
@import './blocks/video';