@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Play", sans-serif;
  font-size: 16px;
  line-height: 1.42;
  color: #292929;
  background: #F5F5F5;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 1120px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding: 24px 93px 50px;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  position: relative;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

.preview {
  background: url(../../img/beats.png) left 65% center no-repeat;
  height: 100vh;
  min-height: 650px;
}

.preview__title-section {
  width: 40%;
}

.preview__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.preview__main-title {
  font-size: 48px;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.preview__title-desc {
  font-size: 21px;
  margin-bottom: 50px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 15px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 18px;
}

.phone-number {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 8px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 41px;
  margin-right: 7px;
}

.feature__text {
  max-width: 114px;
}

.button {
  font-weight: 700;
  padding: 15px 41px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  background: #E01F3D;
  color: #fff;
  border: none;
  cursor: pointer;
}
.button:hover {
  background: #CA1B36;
}
.button--transparent {
  font-weight: 400;
  text-transform: none;
  background: none;
}
.button--transparent:hover {
  background: none;
  color: #E01F3D;
}

.button__form {
  height: 60px;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
}

.section__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 10px;
}

.headline__subtitle {
  color: #666;
  padding: 0 20%;
  margin-bottom: 60px;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 4%;
  position: relative;
}
.benefits__item:before {
  content: url(../../img/shape.png);
  position: absolute;
  top: 50px;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.benefit__icon {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: 24px;
  font-weight: 700;
}

.benefit__desc {
  padding: 0 5%;
}

.benefits-section {
  position: relative;
}
.benefits-section:after {
  position: absolute;
  top: -20px;
  right: 15%;
  content: url(../../img/Rectangle.png);
}

.review__title {
  margin-bottom: 25px;
}

.reviews__display {
  background: #F8FAF9;
  padding: 42px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 83px;
  height: 83px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -60px;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 37px;
}

.reviews__title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 22px;
}

.reviews__text {
  margin-bottom: 36px;
  color: #666;
  width: 82%;
  line-height: 20px;
}

.reviews__author {
  font-size: 18px;
  font-weight: 700;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 74px;
  height: 74px;
  border: 4px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 6px;
}
.interactive-avatar:last-child {
  margin-right: 0;
}
.interactive-avatar:hover {
  border-color: #E01F3D;
}
.interactive-avatar--activ {
  border-color: #E01F3D;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews-section {
  position: relative;
}
.reviews-section::after {
  content: url(../../img/vector2.png);
  position: absolute;
  top: -22px;
  left: 15%;
}

.order-section {
  background: #181818;
  color: #fff;
  position: relative;
}
.order-section:after {
  content: url(../../img/polygon.png);
  position: absolute;
  top: -22px;
  right: 15%;
}
.order-section:before {
  content: url(../../img/ellipse.png);
  position: absolute;
  top: -18px;
  left: 15%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 18px 11px;
  height: 58px;
  border-radius: 6px;
  border: solid 3px transparent;
}
.form__input--textarea {
  height: 152px;
  resize: none;
  margin-bottom: 20px;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 16px;
  margin-right: 20px;
}
.radio:last-child {
  margin-right: 0;
}
.radio--checkbox .radio__visible {
  border-radius: 3px;
  margin-bottom: 30px;
}
.radio--checkbox .radio__visible::before {
  background: url(../../img/icons/checkmark.png) center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 10px;
}
.radio__visible::before {
  content: "";
  width: 13px;
  height: 13px;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}