button {
    border: none;
    background: none;
    cursor: pointer;
}

.button {
    font-weight: 700;
    padding: rem(15px) rem(41px);
    text-transform: uppercase;
    border-radius: 100px;
    line-height: 1;
    background: #E01F3D;
    color: #fff;
    border: none;
    cursor: pointer;

    @include tablets {
        height: rem(60px);
        padding: rem(21px) rem(41px);
    }
   
    &:hover {
        background: #CA1B36;

    } 

    &--transparent {
        font-weight: 400;
        text-transform: none;
        background: none;

        &:hover {
            background: none;
            color: #E01F3D;
        }
    }
}

.button__form {
    height: rem(60px);
}