.contacts__container {
    padding: 0; 
    width: 100%;
    position: relative;

    @include phones {
        flex-direction: column;
    }
}
.contacts-section {
    display: flex;
    justify-content: flex-end;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    height: rem(86px);

    @include phones {
        flex-direction: column;
        justify-content: center;
        height: rem(151px);
    }
}

.contacts__address {
    @include phones {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.contacts__place {
    font-size: rem(18px);
    line-height: 0.5;
    @include phones {
        margin-bottom: rem(10px);
    }
}

.phone-numder__text--footer {
    @include phones {
        font-size: rem(16px);
    }
}

.social {
    justify-content: flex-end;
    margin-bottom: rem(10px);
}

.social__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(20px);
}

.social__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: rem(15px);
}

.social__item:last-child {
    margin-right: 0;
}

.social__icon {
    width: rem(30px);
    height: rem(30px);
    fill: #B3B3B3;
    transition: fill 0.3s;

    @include phones {
        //width: rem(24px);
        //height: rem(24px);
       // margin-top: 20px;
    }

    &:hover {
        fill: black;
    }

    }



.social__link {
    display: block;
    //width: rem(30px);
    //height: rem(30px);

    @include phones {
        //width: rem(24px);
        //height: rem(24px);
        //margin-top: rem(20px);
    }
}
