.contacts__container {
   padding: 0; 
}
.contacts-section {
    display: flex;
    justify-content: flex-end;
    background: url(../../img/map.png ) center no-repeat;
    background-color: white;
}

.footer {
    background: white;
}