.headline {
    text-align: center;
    margin-top: rem(20px);
}

.headline__title {

    margin-bottom: rem(10px);
}

.headline__subtitle {
    color: #666;
    padding: 0 20%;
    margin-bottom: rem(60px);
    @include phones {
        padding: 0 5%;
    }
}