.order-section {
   background: #181818;
   color: #fff;
   position: relative;

   &:after {
    content: url(../../img/polygon.png);
    position: absolute;
    top: -22px;
    right: 15%;
   }
   &:before {
    content: url(../../img/ellipse.png);
    position: absolute;
    top: -18px;
    left: 15%;
   }

}
