.review__title {
    margin-bottom: rem(25px);
}

.reviews__display {
    background: #F8FAF9;
    padding: rem(42px);
    margin-bottom: rem(15px);
    overflow: hidden;
    position: relative;

    @include tablets {
        margin-bottom: rem(25px);
    }

    &:before {
        content:"" ;
        display: block;
        width: rem(83px);
        height: rem(83px);
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -60px;

    }
}

.reviews__list {
    display: flex;
    position: relative;
    min-height: rem(350px);
    margin-bottom: rem(15px);
    @include tablets {
        min-height: rem(418px);
        margin-bottom: rem(32px);
    }
}

.reviews__item {
    position: absolute;
    opacity: 0;
}

.activ {
    opacity: 1;
}

.reviews__display-inner {
    display: flex;

    @include tablets {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

.reviews__avatar {
    width: rem(253px);
    height: rem(264px);

    @include tablets {
        width: rem(130px);
        height: rem(130px);
        margin-top: rem(15px);
    }

    @include phones {
        margin-top: 0;
    }
}

.reviews__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.reviews__content {
    flex: 1;
    margin-left: rem(37px);
    margin-top: rem(30px);
    @include tablets {
        margin-left: 0;
    }
}

.reviews__title {
    font-size: rem(24px);
    font-weight: 700;
    margin-bottom: rem(22px);

    @include tablets {
        margin-bottom: rem(10px);
    }
}

.reviews__text {
    margin-bottom: rem(36px);
    color: #666;
    width: 82%;
    line-height: rem(20px);

    @include tablets {
        width: 100%;
        margin-bottom: rem(13px);
    }
}

.reviews__author {
    font-size: rem(18px);
    font-weight: 700;
}

.reviews__switcher {
    display: flex;
    justify-content:center;
}