.sliders__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sliders__image {
    width: 100%;
    margin-right: 50px;
}

.sliders__photo {
    width: 452px;
    height: 452px;
}

.sliders__pic {
    width: 452px;
    height: 452px;
}

.slider__desk {
    width: 100%;
}

.slider__title {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider__text {
    color: #666;

}

.slider__stats-list {
    display: flex;
}