
.team__title {
    margin-bottom: rem(50px);
    position: relative;
}
.team__list {
    display: flex;
    justify-content: center;
    &--desktop {
        height: 100%;
    }
   &--mobile {
        overflow: hidden;
        height: 0;
        @include tablets {
            overflow: visible;
        }
    }
    @include tablets {
        flex-direction: column;
        align-items: center;
        &--desktop {
            overflow: hidden;
            height: 0;
        }
       &--mobile {
            height: 100%;
        }
    }   
}
.team__item {
    width: 25%;
    @include tablets {
        width: rem(220px);
    }
    &.active{
        .team-card__name {
			&::after{
				border-bottom: 9px solid #E01F3D;
				border-top: none;
			}
    }
}   
}

.team-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 rem(10px);
    position: relative;
    @include tablets {
        //position: none;
    }
    
}

.team-card__photo {
    width: 100%;
    max-height: rem(290px);
    overflow: hidden;
    margin-bottom: rem(25px);
}

.team-card__name {
    background: none;
    border: 0;
    font-size: rem(18px);
    font-weight: 700;
    margin-bottom: rem(10px);
    cursor: pointer;
    &:after {
        content: "";
        display: inline-block;
        width: 0;
        border: 6px solid transparent;
        border-top: 9px solid #E01F3D;
        border-bottom: none;
        margin-left: rem(5px);
    }

}


.team-card__value {
    text-align: center;
    overflow: hidden;
    height: 0;
    transition: .5s;
    position: absolute;
    top: 100%;
    @include tablets {
        position: static;
        margin-bottom: rem(10px);
    }
}

.team-card__content {
    max-height: 100vh;
}

.team-card__post {
    color: #292929;
    margin-bottom: 5px;
    @include tablets {
        font-weight: 700;
    }
}

.team-card__charge {
    color: #666;

}
